/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&family=Montserrat:wght@400;500;600&display=swap");

/* VARIABLES CSS */
:root {
  --header-height: 3.5rem;

  --title-color: hsl(230, 70%, 16%);
  --first-color: hsl(230, 62%, 56%);
  --text-color: hsl(230, 16%, 45%);
  --border-color: hsl(230, 50%, 90%);
  --body-color: hsl(230, 100%, 96%);
  --container-color: hsl(230, 100%, 97%);
  --white-color: hsl(0, 0%, 100%);

  --second-font: "Montagu Slab", serif;
  --body-font: "Montserrat", sans-serif;

  --smaller-font-size: 0.75rem;
  --small-font-size: 0.813rem;
  --normal-font-size: 0.938rem;
  --h3-font-size: 1rem;
  --h2-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --biggest-font-size: 2rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
  :root {
    --smaller-font-size: 0.813rem;
    --small-font-size: 0.875rem;
    --normal-font-size: 1rem;
    --h3-font-size: 1.25rem;
    --h2-font-size: 1.5rem;
    --h1-font-size: 2.25rem;
    --biggest-font-size: 3.5rem;
  }
}

/* BASE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* THEME */
body.dark-theme {
  --title-color: hsl(230, 48%, 85%);
  --text-color: hsl(230, 16%, 70%);
  --border-color: hsl(230, 12%, 18%);
  --body-color: hsl(230, 12%, 8%);
  --container-color: hsl(230, 12%, 12%);
}

.dark-theme .scroll-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.4);
}

.dark-theme .nav__menu {
  box-shadow: 0 -8px 32px hsla(0, 0%, 0%, 0.4);
}

.dark-theme .login,
.dark-theme .search {
  background-color: hsla(230, 12%, 8%, 0.6);
}

.dark-theme .scroll-up {
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.4);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(230, 16%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(230, 16%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(230, 16%, 35%);
}

/* REUSABLE CSS CLASSES */
.container {
  margin-inline: 1.5rem;
  max-width: 1220px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-family: var(--second-font);
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
  text-align: center;
}

/* HEADER */
.header {
  background-color: var(--body-color);
  left: 0;
  position: fixed;
  top: 0;
  transition: background-color 0.4s, box-shadow 0.4s;
  width: 100%;
  z-index: var(--z-fixed);
}

.scroll-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
}

.nav {
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
}

.nav__logo {
  align-items: center;
  color: var(--first-color);
  column-gap: 0.5rem;
  display: inline-flex;
  font-weight: var(--font-medium);
}

.nav__logo i {
  font-size: 1.25rem;
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    background-color: var(--container-color);
    bottom: 0;
    box-shadow: 0 -8px 32px hsla(0, 0%, 0%, 0.1);
    left: 0;
    padding: 1.25rem 4rem;
    position: fixed;
    right: 0;
    transition: background-color 0.4s;
    width: 100%;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: var(--text-color);
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__link i {
  font-size: 1.25rem;
}

.nav__link span {
  display: none;
}

.active-link {
  color: var(--first-color);
}

.nav__actions {
  align-items: center;
  column-gap: 1rem;
  display: flex;
}

.nav__actions i {
  color: var(--title-color);
  cursor: pointer;
  font-size: 1.25rem;
  transition: color 0.4s;
}

.nav__actions i:hover {
  color: var(--first-color);
}

/* SEARCH */
.search {
  backdrop-filter: blur(16px);
  background-color: hsla(230, 12%, 96%, 0.6);
  height: 100%;
  left: 0;
  padding: 8rem 1.5rem;
  position: fixed;
  top: -100%;
  transition: top 0.4s;
  width: 100%;
  z-index: var(--z-fixed);
}

.show-search {
  top: 0;
}

.search__form {
  align-items: center;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  column-gap: 0.5rem;
  display: flex;
  padding-inline: 1rem;
}

.search__icon {
  color: var(--title-color);
  font-size: 1.25rem;
}

.search__input {
  background-color: var(--container-color);
  color: var(--text-color);
  padding-block: 1rem;
  width: 100%;
}

.search__close {
  color: var(--title-color);
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

/* LOGIN */
.login {
  align-items: center;
  backdrop-filter: blur(16px);
  background-color: hsla(230, 12%, 96%, 0.6);
  height: 100%;
  left: 0;
  padding: 1.5rem;
  position: fixed;
  text-align: center;
  top: -100%;
  transition: top 0.4s;
  width: 100%;
  z-index: var(--z-fixed);
}

.show-login {
  top: 0;
}

.login__form {
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 2rem 1.5rem;
  row-gap: 1.25rem;
}

.login__title {
  font-size: var(--h2-font-size);
}

.login__group {
  row-gap: 1.25rem;
}

.login__label {
  color: var(--title-color);
  display: block;
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
  text-align: initial;
}

.login__input {
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  color: var(--text-color);
  padding: 1rem;
  width: 100%;
}

.login__forgot-password,
.login__sign-up {
  display: block;
  font-size: var(--small-font-size);
}

.login__sign-up {
  margin-bottom: 0.5rem;
}

.login__sign-up a {
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.login__forgot-password {
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  cursor: pointer;
  width: 100%;
}

.login__close {
  color: var(--title-color);
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

/* BUTTON */
.button {
  background-color: var(--first-color);
  color: var(--white-color);
  display: inline-block;
  font-weight: var(--font-semi-bold);
  padding: 1rem 1.5rem;
  transition: box-shadow 0.4s;
}

.button:hover {
  box-shadow: 0 4px 32px hsla(230, 72%, 32%, 0.4);
}

/* HOME */
.home__container {
  padding-top: 2rem;
  row-gap: 2rem;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 2rem;
}

.home__images {
  display: grid;
}

.home__swiper {
  margin: initial;
}

.home__article,
.home__image {
  transition: scale 0.4s;
  width: 220px;
}

.home__article {
  scale: 0.8;
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
  scale: 1;
}

/* SERVICES */
.services__container {
  row-gap: 3rem;
}

.services__card {
  text-align: center;
}

.services__card i {
  color: var(--first-color);
  display: block;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.services__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

/* FEATURED */
.featured__card {
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  overflow: hidden;
  padding: 2rem;
  position: relative;
  text-align: center;
  transition: background-color 0.4s, border 0.4s;
}

.featured__card:hover .featured__actions {
  right: 1.5rem;
}

.featured__card .button {
  cursor: pointer;
}

.featured__image {
  width: 150px;
  margin: 0 auto 0.75rem;
}

.featured__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
}

.featured__prices {
  align-items: center;
  column-gap: 0.75rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.featured__discount {
  color: var(--title-color);
}

.featured__price {
  font-size: var(--small-font-size);
  text-decoration: line-through;
}

.featured__actions {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  right: -1.5rem;
  row-gap: 0.75rem;
  top: 2rem;
  transition: right 0.4s;
}

.featured__actions button {
  background: none;
  color: var(--first-color);
  cursor: pointer;
  font-size: 1.25rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  color: var(--first-color);
  font-size: 1.5rem;
  height: initial;
  padding: 0.5rem;
  transition: background-color 0.4s, border 0.4s;
  width: initial;
}

/* DISCOUNT */
.discount__container {
  row-gap: 3.5rem;
}

.discount__data {
  text-align: center;
}

.discount__title {
  margin-bottom: 1rem;
}

.discount__description {
  margin-bottom: 2rem;
}

.discount__images {
  display: flex;
  justify-content: center;
}

.discount__image-1,
.discount__image-2 {
  width: 170px;
}

.discount__image-1 {
  transform: rotate(-10deg) translateX(1rem);
}

.discount__image-2 {
  transform: rotate(10deg) translateX(-1rem);
}

/* NEW BOOKS */
.new-books__swiper:nth-child(1) {
  margin-bottom: 2rem;
}

.new-books__card {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
  background-color: var(--container-color);
  padding: 1.5rem 1rem;
  color: var(--text-color);
  border: 2px solid var(--border-color);
  transition: background-color 0.4s, border 0.4s;
}

.new-books__card:hover {
  border: 2px solid var(--text-color);
}

.new-books__image {
  width: 100px;
}

.new-books__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
}

.new-books__prices {
  align-items: center;
  column-gap: 0.75rem;
  display: flex;
  margin-bottom: 0.75rem;
}

.new-books__discount {
  color: var(--title-color);
}

.new-books__price {
  font-size: var(--small-font-size);
  text-decoration: line-through;
}

.new-books__stars {
  color: var(--first-color);
}

/* JOIN */
.join__container {
  padding-block: 3rem;
  position: relative;
}

.join__background {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.join__data {
  position: relative;
}

.join__title {
  color: var(--white-color);
}

.join__form {
  display: grid;
  row-gap: 1rem;
}

.join__input {
  background-color: var(--body-color);
  color: var(--title-color);
  padding: 1.25rem 1rem;
  transition: background-color 0.4s;
}

.join__input::placeholder {
  color: var(--text-color);
}

.join__button {
  cursor: pointer;
  padding-block: 1.25rem;
}

/* TESTIMONIAL */
.testimonial__card {
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 2rem 3rem 2.5rem;
  text-align: center;
  transition: background-color 0.4s, border 0.4s;
}

.testimonial__image {
  border-radius: 50%;
  margin: 0 auto 1.5rem;
  width: 100px;
}

.testimonial__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.75rem;
}

.testimonial__description {
  font-size: var(--small-font-size);
  margin-bottom: 1.25rem;
}

.testimonial__stars {
  color: var(--first-color);
}

/* FOOTER */
.footer {
  padding-block: 4rem 6rem;
}

.footer__container {
  row-gap: 3rem;
}

.footer__logo {
  align-items: center;
  color: var(--first-color);
  column-gap: 0.5rem;
  display: inline-flex;
  font-family: var(--second-font);
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}

.footer__logo i {
  font-size: 1.25rem;
}

.footer__data {
  gap: 3rem 2rem;
  grid-template-columns: repeat(2, max-content);
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}

.footer__links {
  display: grid;
  row-gap: 0.5rem;
}

.footer__link {
  color: var(--text-color);
  transition: color 0.4s;
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__info {
  font-style: normal;
}

.footer__social {
  column-gap: 1.25rem;
  display: flex;
}

.footer__social-link {
  color: var(--first-color);
  font-size: 1.25rem;
}

.footer__copy {
  display: block;
  font-size: var(--small-font-size);
  margin-top: 5rem;
  text-align: center;
}

/* SCROLL UP */
.scroll-up {
  background-color: var(--container-color);
  bottom: -50%;
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.1);
  color: var(--title-color);
  display: inline-flex;
  font-size: 1.25rem;
  padding: 6px;
  position: fixed;
  right: 1rem;
  transition: background-color 0.4s, bottom 0.4s, transform 0.4s;
  z-index: var(--z-tooltip);
}

.scroll-up:hover {
  transform: translateY(-0.5rem);
}

.show-scroll {
  bottom: 6rem;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  background-color: hsl(230, 16%, 85%);
  border-radius: 0.5rem;
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(230, 16%, 65%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(230, 16%, 55%);
}

/* BREAKPOINTS */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__menu {
    padding-inline: 3rem;
  }

  .discount__image-1,
  .discount__image-2 {
    width: 140px;
  }

  .new-books__card {
    flex-direction: column;
  }

  .testimonial__card {
    padding-inline: 1rem;
  }

  .footer__data {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}

@media screen and (min-width: 450px) {
  .featured__card {
    width: 290px;
  }

  .new-books__card {
    width: 390px;
  }

  .testimonial__card {
    width: 320px;
  }
}

@media screen and (min-width: 576px) {
  .search__form {
    margin-inline: auto;
    width: 500px;
  }

  .login__form {
    justify-self: center;
    width: 400px;
  }

  .login__close,
  .search__close {
    left: 0;
    margin-inline: auto;
    right: 0;
    top: 4rem;
    width: max-content;
  }

  .nav__menu {
    margin-inline: auto;
    width: 380px;
  }

  .discount__container,
  .home__container {
    grid-template-columns: 420px;
    justify-content: center;
  }

  .join__form {
    justify-self: center;
    width: 320px;
  }

  .footer__data {
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 768px) {
  .home__container {
    grid-template-columns: 580px;
  }

  .home__data {
    justify-self: center;
    width: 420px;
  }

  .services__container {
    column-gap: 5rem;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
  }

  .footer__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}

@media screen and (min-width: 1150px) {
  .dark-theme .nav__menu {
    box-shadow: none;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .nav {
    column-gap: 4rem;
    height: calc(var(--header-height) + 2rem);
  }

  .nav__menu {
    margin-inline: auto 0;
    width: initial;
  }

  .nav__list {
    column-gap: 4rem;
  }

  .nav__link {
    font-weight: var(--font-medium);
  }

  .nav__link i {
    display: none;
  }

  .nav__link span {
    display: block;
  }

  .home__data {
    width: initial;
  }

  .services__container {
    column-gap: 10rem;
  }

  .services__card i {
    font-size: 3.5rem;
  }

  .featured__container {
    padding-top: 2rem;
  }

  .featured__title {
    font-size: var(--h3-font-size);
  }

  .discount__container {
    align-items: center;
    grid-template-columns: 615px 500px;
    justify-content: space-between;
  }

  .discount__data,
  .discount__title {
    text-align: initial;
  }

  .discount__data {
    order: 1;
  }

  .discount__description {
    margin-bottom: 3.5rem;
  }

  .discount__image-1,
  .discount__image-2 {
    width: 300px;
  }

  .new-books__container {
    padding-top: 2rem;
  }

  .new-books__card {
    padding: 1.5rem;
  }

  .new-books__image {
    width: 120px;
  }

  .new-books__title {
    font-size: var(--h3-font-size);
  }

  .join__background {
    object-position: 0 -5rem;
  }

  .testimonial__container {
    padding-top: 2rem;
  }

  .testimonial__card {
    padding-inline: 2rem;
  }

  .testimonial__title {
    font-size: var(--h3-font-size);
  }

  .testimonial__description {
    font-size: var(--normal-font-size);
  }

  .footer {
    padding-block: 6rem 3rem;
  }

  .footer__data {
    column-gap: 4.5rem;
    grid-template-columns: repeat(4, max-content);
  }

  .footer__logo,
  .footer__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
  }

  .footer__links {
    row-gap: 1rem;
  }

  .footer__social {
    column-gap: 1.5rem;
  }

  .footer__social-link {
    font-size: 1.5rem;
  }

  .footer__copy {
    margin-top: 7.5rem;
  }

  .scroll-up {
    right: 3rem;
  }

  .show-scroll {
    bottom: 3rem;
  }
}

@media screen and (min-width: 1220px) {
  .container {
    margin-inline: auto;
  }

  .home__container {
    align-items: center;
    grid-template-columns: 435px 745px;
    padding-block: 7rem 2rem;
  }

  .home__data {
    text-align: initial;
  }

  .home__description {
    margin-bottom: 4rem;
  }

  .home__article,
  .home__image {
    width: 290px;
  }
}
